html,
body {
  width: 100vw;
  background-color: rgba(245, 244, 244, 0.267);
  padding-top: 0;
  margin-top: 0;
}
.main {
  width: 100vw;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
}
#nav-index {
  background-color: #b2c9da;
  color: #000;
}
.container {
  width: 100vw;
}
.first {
  background-color: #b2c9da;
  width: 100vw;
  height: 90vh;
  color: #000;
}
.footer {
  background-color: #b2c9da;
  width: 100vw;
  height: 30vh;
  color: #000;
}
.capture-container {
  margin-top: -100px;
}
#capture {
  border-radius: 10px 10px 10px 10px;
  width: 80%;
  height: auto;
  box-shadow: 1px 19px 34px -5px rgba(0, 0, 0, 0.48);
}

.index-row-bg {
  background-color: #b2c9da79;
}
.badge {
  font-size: 1em;
  box-shadow: 10px 10px 34px -10px rgba(0, 0, 0, 0.76);
}

.index-function {
  width: 30vw;
  background-color: rgba(245, 244, 244, 0.699);
  box-shadow: 10px 10px 34px -10px rgba(0, 0, 0, 0.76);
  border-radius: 10px 10px 10px 10px;
}

.fas {
  font-size: 1.2em;
  color: #074b78;
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
