.register-container {
  position: absolute;
  background-color: #f6f7fc;
  width: 70%;
  display: block;
  left: 15%;
  padding: 0;
  z-index: 5;
}

.register-header {
  background-color: #918b8d;
  color: #f6f7fc;
  padding: 10px 20px;
  font-size: 1.6em;
}

.img-holder {
  position: relative;
  display: block;
  padding: 0;
  margin-bottom: 0;
}

.img-div {
  position: absolute;
  z-index: 1;
  width: 50%;
  margin-left: -110px;
  left: 50%;
  padding: 0;
  top: 15%;
}

/* right paw */
.bg-img1 {
  opacity: 0.2;
  position: relative;
  top: -50px;
  left: 10%;
  width: 30%;
  height: 35%;
  transform: rotate(20deg);
}
/* left paw */
.bg-img2 {
  opacity: 0.2;
  position: relative;
  left: 45%;
  top: 30%;
  width: 15%;
  height: 50%;
  transform: rotate(280deg);
}
/* laptop */
.bg-img3 {
  width: 210px;
  height: 110px;
  z-index: 2;
}
/* phone */
.bg-img4 {
  position: relative;
  width: 70px;
  height: 70px;
  z-index: 3;
  left: 150px;
  top: -60px;
}

.bg-img5 {
  position: relative;
  opacity: 0.2;
  transform: rotate(20deg);
  z-index: 1;
  left: -40%;
  width: 30%;
  height: 35%;
  top: 80px;
}

.bg-img6 {
  position: relative;
  opacity: 0.2;
  transform: rotate(20deg);
  z-index: 1;
  left: 85%;
  top: 200px;
  width: 30%;
  height: 35%;
}

/* For screen larger than 576px (sm) */
@media only screen and (min-device-width: 576px) {
  .img-div {
    position: absolute;
    z-index: 1;
    width: 50%;
    margin-left: -150px;
    left: 50%;
    padding: 0;
    top: 8%;
  }
  .bg-img1 {
    opacity: 0.2;
    position: relative;
    left: 5%;
    top: -80px;
    width: 30%;
    height: 35%;
    transform: rotate(20deg);
  }

  .bg-img3 {
    width: 300px;
    height: 170px;
    z-index: 2;
  }

  .bg-img4 {
    width: 100px;
    height: 100px;
    z-index: 3;
    position: absolute;
    left: 210px;
    top: 80px;
  }
}

/* For screen larger than 768px (md) */
@media only screen and (min-device-width: 768px) {
  .img-div {
    position: absolute;
    z-index: 1;
    width: 50%;
    margin-left: -250px;
    left: 50%;
    padding: 0;
    top: 13%;
  }
  .bg-img1 {
    opacity: 0.2;
    position: relative;
    left: 5%;
    top: -80px;
    width: 30%;
    height: 35%;
    transform: rotate(20deg);
  }

  .bg-img3 {
    width: 430px;
    height: 230px;
    z-index: 2;
  }

  .bg-img4 {
    width: 140px;
    height: 140px;
    z-index: 3;
    position: absolute;
    left: 325px;
    top: 120px;
  }
}

/* For screen larger than 1030px (lg) */
@media only screen and (min-device-width: 1030px) {
  .img-div {
    position: absolute;
    z-index: 1;
    width: 50%;
    margin-left: -250px;
    left: 50%;
    padding: 0;
    top: 30%;
  }
  .bg-img1 {
    opacity: 0.2;
    position: relative;
    left: 5%;
    top: -80px;
    width: 30%;
    height: 35%;
    transform: rotate(20deg);
  }

  .bg-img3 {
    width: 500px;
    height: 300px;
    z-index: 2;
  }

  .bg-img4 {
    width: 190px;
    height: 190px;
    z-index: 3;
    position: absolute;
    left: 325px;
    top: 130px;
  }

  .bg-img5 {
    position: relative;
    opacity: 0.2;
    transform: rotate(20deg);
    z-index: 1;
    left: -40%;
  }

  .bg-img6 {
    position: relative;
    opacity: 0.2;
    transform: rotate(20deg);
    z-index: 1;
    left: 80%;
    top: 200px;
  }
}
