html,
body {
  height: 100vh;
  padding: 0;
  width: 100%;
  font-size: 0.96em; /*normal size*/
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Noto Sans", sans-serif;
  padding-top: 23px;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: #e7e8ec;
    font-size: 1em;
    width: 100%;
  }
}

input,
label,
input[type="text"],
input[type="password"],
input[type="email"],
input::placeholder {
  font-size: 1em;
}

.body-color {
  background: #b2c9da;
  background: linear-gradient(to top, #b2c9da, #b8c5ce);
  background-size: cover;
  background-attachment: fixed;
}

/*any device smaller than laptop*/
.index-banner {
  color: #525252;
  font-size: 1.6em;
  text-align: center;
}

.index-btn {
  font-size: 1.2em;
}

/*laptop size*/
@media only screen and (min-device-width: 1030px) {
  .index-banner {
    color: #525252;
    font-size: 2.5em;
    text-align: center;
  }

  .index-btn {
    font-size: 1.4em;
  }
}

.info-text {
  font-size: 0.8em;
}

.navbar {
  background-color: #392943;
  color: #e7e8ec;
  padding: 5px 20px;
}
a {
  text-decoration: none;
}

.navbar-brand,
a.btn-box,
a.btn-box:hover {
  color: #e7e8ec;
}

.container {
  z-index: 5;
  padding: 0;
}

.row {
  margin: 20px 0px;
}

.row-middle {
  border-bottom-style: solid;
  border-bottom-color: rgb(57, 41, 67);
  border-bottom-color: rgba(57, 41, 67, 0.5);
  border-bottom-width: thin;
  padding: 10px 5px;
  width: 95%;
}

.btn-design1 {
  background-color: #c3e1f6;
  color: #353434;
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-design2 {
  background-color: #074b78;
  color: #f1f1f1;

  box-shadow: 0 8px 16px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-design1:hover {
  background-color: #8fadc2;
  color: #353434;
}
.btn-design2:hover {
  background-color: #4284b1;
  color: #f1f1f1;
}

.btn-box {
  border: solid;
  border-color: #074b78;
  background-color: #074b78;
  padding: 2px 7px;
  cursor: pointer;
  color: #e7e8ec;
}
.btn-box:hover {
  background-color: #0969aa;
  border-color: #0969aa;
  color: #e7e8ec;
}

.close,
.close:hover {
  text-decoration: none;
  color: #ffffff;
  border: none;
  outline: none;
}
.close-homeModal > i {
  text-decoration: none;
  color: #074b78;
  border: none;
  outline: none;
}
.close-homeModal:hover > i {
  text-decoration: none;
  color: #3f79a0;
  border: none;
  outline: none;
}

.card {
  padding: 0 0;
  width: 100%;
}
.card-header {
  background-color: #e7e8ec;
}
.card-shadow {
  -webkit-box-shadow: 0 10px 13px -7px #000000,
    1px 5px 18px 43px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 10px 13px -7px #000000, 1px 5px 18px 43px rgba(0, 0, 0, 0);
  box-shadow: 0 10px 13px -7px #000000, 1px 5px 18px 43px rgba(0, 0, 0, 0);
}

.form-row {
  margin: 5%;
}

div.form-row > a {
  color: #999999;
}

.modal {
  border-color: #392943;
}

.modal-header {
  background-color: #392943;
  color: #f6f7fc;
}

.modal-body {
  background-color: #f6f7fc;
  font-size: 1em;
}
.modal-body > label {
  color: rgb(0, 0, 0);
}

.icon-log {
  fill: #fff;
  width: 15%;
  height: auto;
}
