
html, body{
	height: 100%;
	padding: 0;
}
.navbar {
	background-color: #392943;
	color: #E7E8EC;
	width: 100%;
	padding: 10px 20px;
}
a.navbar-brand, .mybox, .mybox:hover{
	text-decoration: none;
	color: #E7E8EC;
	
}


.wrapper{
	display: grid;
	grid-template-columns: 12fr 3fr;
	column-gap: 15px;
	height: 100%;

}


.left{
	background-color: #E7E8EC;
	
}

.container{
	margin-left: 3%;
}

.right{
	border-left-style: solid;
	border-left-color: #B8C5CE;
	border-left-width: thin;
	margin-left: 20px;
	width:125%;
}


.container-outer{
	width: 100%;
	height: 100%;
	margin-left: 0;
	padding:0 0;
	display: block;

}
.row{
	margin: 20px 0px;
	
}
.btn-box{
	border: solid;
	border-color: #074B78;
	background-color: #074B78;
	color: #E7E8EC; 
	
}
.btn-box:hover{
	background-color: #0969aa;
	color: #E7E8EC; 
	border-color: #0969aa;
}
.row-middle{
	border-bottom-style: solid;
	border-bottom-color:rgba(57, 41, 67,0.5);
	border-bottom-width: thin;
	padding: 10px 5px;
	width:95%;
}

.card{
	padding: 0 0;
	width:100%;	
}

.body-bg {
	background-color: #B8C5CE;
}

.form-row{
	margin: 5%;
}

.modal{
	border-color: #392943;

}

.modal-header{
	background-color: #392943;
	color: #f6f7fc;
}
button.close{
	text-decoration: none;
	color:#ffffff;
}
.modal-body{
	background-color: #f6f7fc;
}
div.form-row > a{
	color: #b3b3b3;
}

.register-container{
	background-color: #f6f7fc;
	width:50%;
	display: block;
	margin: auto;
	padding:0;
	padding-bottom: 20px;
}

.register-header{
	background-color: #918B8D;
	color:#f6f7fc;
	padding:20px;
}